body, html {
    height: 100vh;
    width: 100vw;
 }
  
 .container-fluid{width:100vw;padding:0;height:100vh;}
.navbar{background-color:#7cccf4;width:100vw;}
.navbar-brand{width:18%;}
.container-fluid{width:100vw;}
.navbar-brand img {width:100%;}
.nav-link{font-family:'Permanent Marker',cursive;font-size:2.5rem;}
.navbar-light .navbar-nav .nav-link{color:#8d3b87;}
.navbar-light .navbar-nav .nav-link img{height:5vh;}
.navbar-nav{padding-left:45vw;}
main a img{max-width:22vw;}
main{background-color:#5dd762;height:94vh;}
.about_box{display:grid;grid-template-rows:.5fr .5fr;grid-template-columns: .5fr .5fr;text-align:center;padding-top:3vh;transition:transform 0.3s ease;}
footer{display:flex;justify-content:space-around;align-items:center;}
footer h5{font-family:'Permanent Marker',cursive;color:#f68006;}
footer a{color:#f68006}
footer a:hover{color:#f218dd}
.row footer{background-color: #1c43e8;height:6vh;}
.about_box a{font-family:'Permanent Marker',cursive;color:#8d3b87;transition:transform 0.3s ease;}
.about_box a:hover{text-decoration:none;color:#f68006;transform:Scale(.75)}

@media screen and (max-width:768px){
    .about_box{display:flex;flex-direction:column;}
    main a img{max-width:40vw;}
}
@media screen and (min-width:769px) and (max-width:960px)
{
   .about_box{display:grid;padding-top:20vh;}
}

@media screen and (min-width:961px) and (max-width:1025px)
 
  {
      .about_box{display:grid;padding-top:18vh;}
      main a img{max-width:40vw;}
      .navbar-nav{padding-left:10vw;}
  }
 

 